In [21]:
"""
1. Links -
2. Restaurant Names-
3. Location & Accessibility (Address)-
4. Cuisine Type-
5. Price Range (Per 2)-
6. Reviews & Ratings (Out of 5)-
7. Opening Hours & Reservation Policies (Timings)-
8. Special Features-
9. Signature Dishes-
# 10. Service Quality--------
# 11. Dietary Preferences----------
12. Hygiene & Safety
# 13. Crowd & Wait Time-----------
# 14. Family-Friendliness-------------


"""

'\n1. Links -\n2. Restaurant Names-\n3. Location & Accessibility (Address)-\n4. Cuisine Type-\n5. Price Range (Per 2)-\n6. Reviews & Ratings (Out of 5)-\n7. Opening Hours & Reservation Policies (Timings)-\n8. Special Features-\n9. Signature Dishes-\n# 10. Service Quality--------\n# 11. Dietary Preferences----------\n12. Hygiene & Safety\n# 13. Crowd & Wait Time-----------\n# 14. Family-Friendliness-------------\n\n\n'

In [3]:
import pandas as pd

# Read the first CSV file
df1 = pd.read_csv('restaurants_dataset (1).csv')

# Read the second CSV file
df2 = pd.read_csv('zomato_v3.csv')

# Append the two DataFrames
df_combined = pd.concat([df1, df2], ignore_index=True)

# Save the combined data to a new CSV file (optional)
df_combined.to_csv('New_total.csv', index=False)

In [4]:
import pandas as pd

df=pd.read_csv("New_total.csv")
df.head()

,links,names,ratings,price for two,cuisine,images,opening & closing time,location,signature dishes,special features,safety measures,address
0,https://www.zomato.com/hyderabad/mekong-hitech...,Mekong,-star-fill,"₹2,200 for two people (approx.)","Chinese, Asian, Sushi, Thai, Burmese, Vietname...",NaN,"12noon – 3pm, 6:30pm – 11pm (Today)","Hitech City, Hyderabad",Not available,Not available,Not available,"Survey 64, 15, 24, 25 & 26, Huda Techno Enclav..."
1,https://www.zomato.com/hyderabad/makau-jubilee...,Makau,4.2star-fill,"₹2,200 for two people (approx.) with alcohol","North Indian, Beverages, Asian, Desserts, Cont...",NaN,12noon – 11pm (Today),"Road 36, Jubilee Hills, Hyderabad","Thai Green Curry, Mocktail, Cheesecake, Prawns...","Good Music Beautiful Ambiance, Trained Staff, ...",Not available,"Plot 732, 8-2-293/82/A/732, CBI Colony, Road 3..."
2,https://www.zomato.com/hyderabad/by-the-bottle...,By The Bottle,4.2star-fill,"₹1,400 for two people (approx.) with alcohol","Continental, Chinese, North Indian, Italian, P...",NaN,12noon – 12midnight (Today),"Road 36, Jubilee Hills, Hyderabad","Crispy Shrimp, Peri Peri Prawn, Sangria, Chick...","Rooftop Ambience, Awesome Music, Amazing Music...",Not available,"1217/A, Road 36, Jubilee Hills, Hyderabad"
3,https://www.zomato.com/hyderabad/aura-cafe-inf...,Aura Cafe & Infusion Bar,4.4star-fill,"₹2,000 for two people (approx.) Without alcohol","Coffee, Italian, Chinese, Oriental, Continenta...",NaN,10:30am – 11:30pm (Today),"Jubilee Hills, Hyderabad","Contadina Pizza, Turkey Sandwich, Chicken Croq...","Good Foods and Fresh Juices, Couple Friendly, ...","Well Sanitized Kitchen, Daily Temp. Checks","Plot 280-A, Road 10C, Jubilee Hills, Hyderabad"
4,https://www.zomato.com/hyderabad/stone-waters-...,Stone Waters - Kitchen & Lounge,4.2star-fill,"₹2,000 for two people (approx.) Without alcohol","North Indian, Continental, Asian, Pizza",NaN,3:30pm – 12midnight (Today),"Jubilee Hills, Hyderabad","Panneer Butter Masala, Alfredo Pasta, Lasagna,...","Soulful Music, Live Band Performance, Singer, ...",Not available,"Shop 1299, B1, 5th Floor, Aruna Arcade, Road 1..."

In [5]:
import numpy as np


# Convert ratings to string and replace 'star-fill'
df["ratings"] = df["ratings"].astype(str).str.replace("star-fill", "", regex=False)

# Replace non-numeric values (e.g., '-', 'New') with NaN
df["ratings"] = pd.to_numeric(df["ratings"], errors='coerce')

# Save the updated DataFrame back to CSV
df.to_csv("restaurants_dataset.csv", index=False)

In [6]:
df.tail()

,links,names,ratings,price for two,cuisine,images,opening & closing time,location,signature dishes,special features,safety measures,address
8461,https://www.zomato.com/hyderabad/amnesia-loung...,Amnesia Lounge Bar,4.2,"₹1,800 for two people (approx.) with alcohol","Bar Food, American, Pasta, Street Food, Pizza,...",NaN,12noon – 12:30am (Today),"Road 36, Jubilee Hills, Hyderabad","Whiskey Cocktail, Tandoori Veg Platter, Litchi...","Afforable, Fusion Menu, Good Bartenders, Live ...",Not available,"Plot 1102, 5th Floor, Jaya Chambers, Road 36, ..."
8462,https://www.zomato.com/hyderabad/air-live-jubi...,Air Live,4.3,"₹3,500 for two people (approx.) with alcohol","North Indian, Italian, Asian, Continental, Piz...",NaN,12noon – 1am (Today),"Road 36, Jubilee Hills, Hyderabad","Jalapeno Cheeseballs, Crispy French Fries, Vir...","Manager is Cooperative, Thoughtful and Polite ...",Not available,"5th Floor, Odyssey Mall, Road 36, Jubilee Hill..."
8463,https://www.zomato.com/hyderabad/insomnia-jubi...,Insomnia,4.2,"₹1,900 for two people (approx.) with alcohol","North Indian, Italian, Chinese, Finger Food, C...",NaN,12noon – 1am (Today),"Road 36, Jubilee Hills, Hyderabad","Cheesy Corn, Paper Chicken, Mutton Balls, Chil...","Club Music, Kid Friendly, Best Club, Best Dj, ...",Not available,"3rd & 4th Floor, Jaya Chambers, Road 36, Jubil..."
8464,https://www.zomato.com/hyderabad/noho-progress...,Noho - Progressive Asian House,4.4,"₹3,000 for two people (approx.) with alcohol","Bar Food, Asian, Japanese, Continental, Orient...",NaN,"12noon – 3:30pm, 7pm – 12:30am (Today)","Jubilee Hills, Hyderabad",Not available,Not available,Not available,"8-2-293/A/1057/G, Ground To 3 Rd Floor, Road 4..."
8465,https://www.zomato.com/hyderabad/hard-rock-caf...,Hard Rock Cafe,4.4,"₹2,500 for two people (approx.) with alcohol","American, Continental, Italian, Wraps, Burger,...",NaN,12noon – 1am (Today),"GVK One Mall, Banjara Hills, Hyderabad","Chicken Fritters, Crispy Bacon, Kiwi Mojito, F...","Rock Music, Music and Ambience, Band Playing, ...",Daily Temp. Checks,"Ground Floor, GVK One Mall, Road 1, Banjara Hi..."

In [7]:
df=df.drop(columns=["images"])
df.to_csv("restaurants_dataset.csv",index=False)

In [8]:
df.head()

,links,names,ratings,price for two,cuisine,opening & closing time,location,signature dishes,special features,safety measures,address
0,https://www.zomato.com/hyderabad/mekong-hitech...,Mekong,NaN,"₹2,200 for two people (approx.)","Chinese, Asian, Sushi, Thai, Burmese, Vietname...","12noon – 3pm, 6:30pm – 11pm (Today)","Hitech City, Hyderabad",Not available,Not available,Not available,"Survey 64, 15, 24, 25 & 26, Huda Techno Enclav..."
1,https://www.zomato.com/hyderabad/makau-jubilee...,Makau,4.2,"₹2,200 for two people (approx.) with alcohol","North Indian, Beverages, Asian, Desserts, Cont...",12noon – 11pm (Today),"Road 36, Jubilee Hills, Hyderabad","Thai Green Curry, Mocktail, Cheesecake, Prawns...","Good Music Beautiful Ambiance, Trained Staff, ...",Not available,"Plot 732, 8-2-293/82/A/732, CBI Colony, Road 3..."
2,https://www.zomato.com/hyderabad/by-the-bottle...,By The Bottle,4.2,"₹1,400 for two people (approx.) with alcohol","Continental, Chinese, North Indian, Italian, P...",12noon – 12midnight (Today),"Road 36, Jubilee Hills, Hyderabad","Crispy Shrimp, Peri Peri Prawn, Sangria, Chick...","Rooftop Ambience, Awesome Music, Amazing Music...",Not available,"1217/A, Road 36, Jubilee Hills, Hyderabad"
3,https://www.zomato.com/hyderabad/aura-cafe-inf...,Aura Cafe & Infusion Bar,4.4,"₹2,000 for two people (approx.) Without alcohol","Coffee, Italian, Chinese, Oriental, Continenta...",10:30am – 11:30pm (Today),"Jubilee Hills, Hyderabad","Contadina Pizza, Turkey Sandwich, Chicken Croq...","Good Foods and Fresh Juices, Couple Friendly, ...","Well Sanitized Kitchen, Daily Temp. Checks","Plot 280-A, Road 10C, Jubilee Hills, Hyderabad"
4,https://www.zomato.com/hyderabad/stone-waters-...,Stone Waters - Kitchen & Lounge,4.2,"₹2,000 for two people (approx.) Without alcohol","North Indian, Continental, Asian, Pizza",3:30pm – 12midnight (Today),"Jubilee Hills, Hyderabad","Panneer Butter Masala, Alfredo Pasta, Lasagna,...","Soulful Music, Live Band Performance, Singer, ...",Not available,"Shop 1299, B1, 5th Floor, Aruna Arcade, Road 1..."

In [9]:
duplicates = df[df.duplicated()]
# Drop duplicate rows and keep the first occurrence
df_cleaned = df.drop_duplicates()

# Optionally, save the cleaned dataset back to CSV
df_cleaned.to_csv("cleaned_dataset.csv", index=False)


# Print the number of duplicates and display them
# print(f"Number of duplicate rows: {len(duplicates)}")
# print(duplicates)

In [10]:
import pandas as pd
import re
import numpy as np



# Define the function to convert price strings to integers
def convert_price_to_int(price_str):
    # Remove the '₹', commas, and any text after the price
    cleaned_price = re.sub(r'[₹,]', '', price_str)  # Remove ₹ and commas
    cleaned_price = re.sub(r'[^0-9]', '', cleaned_price)  # Keep only numbers
    if cleaned_price:  # Check if the cleaned string is not empty
        return int(cleaned_price)
    else:
        return np.nan  # Return NaN if there's no valid price

# Apply the function to the price column
df['price for two'] = df['price for two'].apply(convert_price_to_int)

# Save the modified DataFrame to a CSV file
df.to_csv('cleaned_dataset.csv', index=False)

In [11]:
df1=pd.read_csv("cleaned_dataset.csv")
df1.head()

,links,names,ratings,price for two,cuisine,opening & closing time,location,signature dishes,special features,safety measures,address
0,https://www.zomato.com/hyderabad/mekong-hitech...,Mekong,NaN,2200.0,"Chinese, Asian, Sushi, Thai, Burmese, Vietname...","12noon – 3pm, 6:30pm – 11pm (Today)","Hitech City, Hyderabad",Not available,Not available,Not available,"Survey 64, 15, 24, 25 & 26, Huda Techno Enclav..."
1,https://www.zomato.com/hyderabad/makau-jubilee...,Makau,4.2,2200.0,"North Indian, Beverages, Asian, Desserts, Cont...",12noon – 11pm (Today),"Road 36, Jubilee Hills, Hyderabad","Thai Green Curry, Mocktail, Cheesecake, Prawns...","Good Music Beautiful Ambiance, Trained Staff, ...",Not available,"Plot 732, 8-2-293/82/A/732, CBI Colony, Road 3..."
2,https://www.zomato.com/hyderabad/by-the-bottle...,By The Bottle,4.2,1400.0,"Continental, Chinese, North Indian, Italian, P...",12noon – 12midnight (Today),"Road 36, Jubilee Hills, Hyderabad","Crispy Shrimp, Peri Peri Prawn, Sangria, Chick...","Rooftop Ambience, Awesome Music, Amazing Music...",Not available,"1217/A, Road 36, Jubilee Hills, Hyderabad"
3,https://www.zomato.com/hyderabad/aura-cafe-inf...,Aura Cafe & Infusion Bar,4.4,2000.0,"Coffee, Italian, Chinese, Oriental, Continenta...",10:30am – 11:30pm (Today),"Jubilee Hills, Hyderabad","Contadina Pizza, Turkey Sandwich, Chicken Croq...","Good Foods and Fresh Juices, Couple Friendly, ...","Well Sanitized Kitchen, Daily Temp. Checks","Plot 280-A, Road 10C, Jubilee Hills, Hyderabad"
4,https://www.zomato.com/hyderabad/stone-waters-...,Stone Waters - Kitchen & Lounge,4.2,2000.0,"North Indian, Continental, Asian, Pizza",3:30pm – 12midnight (Today),"Jubilee Hills, Hyderabad","Panneer Butter Masala, Alfredo Pasta, Lasagna,...","Soulful Music, Live Band Performance, Singer, ...",Not available,"Shop 1299, B1, 5th Floor, Aruna Arcade, Road 1..."

In [13]:


# Function to extract opening and closing times safely
def extract_timings(timing):
    try:
        parts = timing.split(',')
        open_times = []
        close_times = []
        
        for part in parts:
            if '–' in part:  # Ensure there's a valid separator
                times = part.split('–')
                open_times.append(times[0].strip())
                close_times.append(times[1].split('(')[0].strip())
        
        # If no valid time was extracted, return None
        if not open_times or not close_times:
            return None, None
        
        # Return the first opening time and last closing time
        return open_times[0], close_times[-1]
    
    except IndexError:
        return None, None

# Apply the function to the 'opening & closing time' column
df['Opening Times'], df['Closing Times'] = zip(*df['opening & closing time'].apply(extract_timings))

df.head()

,links,names,ratings,price for two,cuisine,opening & closing time,location,signature dishes,special features,safety measures,address,Opening Times,Closing Times
0,https://www.zomato.com/hyderabad/mekong-hitech...,Mekong,NaN,2200.0,"Chinese, Asian, Sushi, Thai, Burmese, Vietname...","12noon – 3pm, 6:30pm – 11pm (Today)","Hitech City, Hyderabad",Not available,Not available,Not available,"Survey 64, 15, 24, 25 & 26, Huda Techno Enclav...",12noon,11pm
1,https://www.zomato.com/hyderabad/makau-jubilee...,Makau,4.2,2200.0,"North Indian, Beverages, Asian, Desserts, Cont...",12noon – 11pm (Today),"Road 36, Jubilee Hills, Hyderabad","Thai Green Curry, Mocktail, Cheesecake, Prawns...","Good Music Beautiful Ambiance, Trained Staff, ...",Not available,"Plot 732, 8-2-293/82/A/732, CBI Colony, Road 3...",12noon,11pm
2,https://www.zomato.com/hyderabad/by-the-bottle...,By The Bottle,4.2,1400.0,"Continental, Chinese, North Indian, Italian, P...",12noon – 12midnight (Today),"Road 36, Jubilee Hills, Hyderabad","Crispy Shrimp, Peri Peri Prawn, Sangria, Chick...","Rooftop Ambience, Awesome Music, Amazing Music...",Not available,"1217/A, Road 36, Jubilee Hills, Hyderabad",12noon,12midnight
3,https://www.zomato.com/hyderabad/aura-cafe-inf...,Aura Cafe & Infusion Bar,4.4,2000.0,"Coffee, Italian, Chinese, Oriental, Continenta...",10:30am – 11:30pm (Today),"Jubilee Hills, Hyderabad","Contadina Pizza, Turkey Sandwich, Chicken Croq...","Good Foods and Fresh Juices, Couple Friendly, ...","Well Sanitized Kitchen, Daily Temp. Checks","Plot 280-A, Road 10C, Jubilee Hills, Hyderabad",10:30am,11:30pm
4,https://www.zomato.com/hyderabad/stone-waters-...,Stone Waters - Kitchen & Lounge,4.2,2000.0,"North Indian, Continental, Asian, Pizza",3:30pm – 12midnight (Today),"Jubilee Hills, Hyderabad","Panneer Butter Masala, Alfredo Pasta, Lasagna,...","Soulful Music, Live Band Performance, Singer, ...",Not available,"Shop 1299, B1, 5th Floor, Aruna Arcade, Road 1...",3:30pm,12midnight

In [15]:
df=df.drop(columns=["opening & closing time"])

In [16]:
df.to_csv('cleaned_dataset.csv', index=False)

In [19]:

veg_df = pd.read_csv('pure_veg.csv')

# Create a set of veg restaurant links for quick lookup
veg_links_set = set(veg_df['restaurant_links'])

# Add a new column 'Veg' in the main dataset
df['Veg'] = df['links'].apply(lambda link: 1 if link in veg_links_set else 0)



# Display the updated DataFrame (optional)
df.head()

,links,names,ratings,price for two,cuisine,location,signature dishes,special features,safety measures,address,Opening Times,Closing Times,Veg
0,https://www.zomato.com/hyderabad/mekong-hitech...,Mekong,NaN,2200.0,"Chinese, Asian, Sushi, Thai, Burmese, Vietname...","Hitech City, Hyderabad",Not available,Not available,Not available,"Survey 64, 15, 24, 25 & 26, Huda Techno Enclav...",12noon,11pm,0
1,https://www.zomato.com/hyderabad/makau-jubilee...,Makau,4.2,2200.0,"North Indian, Beverages, Asian, Desserts, Cont...","Road 36, Jubilee Hills, Hyderabad","Thai Green Curry, Mocktail, Cheesecake, Prawns...","Good Music Beautiful Ambiance, Trained Staff, ...",Not available,"Plot 732, 8-2-293/82/A/732, CBI Colony, Road 3...",12noon,11pm,0
2,https://www.zomato.com/hyderabad/by-the-bottle...,By The Bottle,4.2,1400.0,"Continental, Chinese, North Indian, Italian, P...","Road 36, Jubilee Hills, Hyderabad","Crispy Shrimp, Peri Peri Prawn, Sangria, Chick...","Rooftop Ambience, Awesome Music, Amazing Music...",Not available,"1217/A, Road 36, Jubilee Hills, Hyderabad",12noon,12midnight,0
3,https://www.zomato.com/hyderabad/aura-cafe-inf...,Aura Cafe & Infusion Bar,4.4,2000.0,"Coffee, Italian, Chinese, Oriental, Continenta...","Jubilee Hills, Hyderabad","Contadina Pizza, Turkey Sandwich, Chicken Croq...","Good Foods and Fresh Juices, Couple Friendly, ...","Well Sanitized Kitchen, Daily Temp. Checks","Plot 280-A, Road 10C, Jubilee Hills, Hyderabad",10:30am,11:30pm,0
4,https://www.zomato.com/hyderabad/stone-waters-...,Stone Waters - Kitchen & Lounge,4.2,2000.0,"North Indian, Continental, Asian, Pizza","Jubilee Hills, Hyderabad","Panneer Butter Masala, Alfredo Pasta, Lasagna,...","Soulful Music, Live Band Performance, Singer, ...",Not available,"Shop 1299, B1, 5th Floor, Aruna Arcade, Road 1...",3:30pm,12midnight,0

In [20]:
# Save the updated dataframe to a new CSV file (if needed)
df.to_csv('cleaned_dataset.csv', index=False)

In [22]:
duplicates = df[df.duplicated()]
# Drop duplicate rows and keep the first occurrence
df_cleaned = df.drop_duplicates()

# Optionally, save the cleaned dataset back to CSV
df_cleaned.to_csv("cleaned_dataset.csv", index=False)


# Print the number of duplicates and display them
# print(f"Number of duplicate rows: {len(duplicates)}")
# print(duplicates)

In [23]:
df=df_cleaned

In [25]:
df.shape

(2772, 13)

In [26]:
# Count the number of veg restaurants (where Veg == 1)
veg_count = df[df['Veg'] == 1].shape[0]

# Display the count
print(f'Total number of vegetarian restaurants: {veg_count}')

Total number of vegetarian restaurants: 358